.banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url('../../images/Banner.jpeg');
  padding: 150px 0;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  color: #FFFFFF;
}

.banner h2 {
  color: #FFFFFF;
  opacity: 0.9;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 300;
}
